<div class="row">
<div class="col-xs-12">

<div class="form-horizontal" role="form">



<%= form_for(cliente) do |f| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome,  :class=> "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-5"><%= f.text_field :nome %></div>
  </div>

  <div class="form-group">
    <%= f.label :rg,  :class=> "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-5"><%= f.text_field :rg %></div>
  </div>

  <div class="form-group">
    <%= f.label :cpf,  :class=> "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-5"><%= f.text_field :cpf %></div>
  </div>

  <div class="form-group">
    <%= f.label :endereco,  :class=> "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-5"><%= f.text_field :endereco %></div>
  </div>

  <div class="form-group">
    <%= f.label :cidade, :class=> "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-5"><%= f.text_field :cidade %></div>
  </div>

  <div class="form-group">
    <%= f.label :estado, :class=> "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-5"><%= f.text_field :estado %></div>
  </div>

  
  
  <div class="clearfix form-actions">
	    <div class="col-md-offset-3 col-md-9">
		    <button type="submit" class="btn btn-info">
			    <i class="ace-icon fa fa-check bigger-110"></i>
			    Salvar
		    </button>

		    
		    <%= link_to "Voltar", clientes_url, :class=> "btn" %>
	    </div>
    </div>

<% end %>


</div>
</div>
</div>
