<div class="row">
<div class="col-xs-12">

<div class="form-horizontal" role="form">


<%= form_for(animal) do |f| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nome, :class=> "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-5"><%= f.text_field :nome %></div>
  </div>

  <div class="form-group">
    <%= f.label :sexo, :class=> "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-5"><%= f.text_field :sexo %></div>
  </div>

  <div class="form-group">
    <%= f.label :pelagem, :class=> "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-5"><%= f.text_field :pelagem %></div>
  </div>

  <div class="form-group">
    <%= f.label :data_nascimento, :class=> "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-2">

      <!-- datepicker -->
      <div class="input-group">
      <%= f.text_field :data_nascimento, :class=>"form-control date-picker", "date-date-format"=>"dd-mm-yyyy" %>
        <span class="input-group-addon">
           <i class="fa fa-calendar bigger-110"></i>
        </span>
      </div>


    </div>
  </div>


    <div class="clearfix form-actions">
	    <div class="col-md-offset-3 col-md-9">
		    <button type="submit" class="btn btn-info">
			    <i class="ace-icon fa fa-check bigger-110"></i>
			    Salvar
		    </button>


		    <%= link_to "Voltar", animais_url, :class=> "btn" %>
	    </div>
    </div>

<% end %>


</div>
</div>
</div>




<%= render :partial => "common/js_forms" %>
