<p id="notice"><%= notice %></p>

<div class="page-header">
    <h1>Animais
    
</div>


<table class="table  table-bordered table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sexo</th>
      <th>Pelagem</th>
      <th>Data nascimento</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @animais.each do |animal| %>
      <tr>
        <td><%= animal.nome %></td>
        <td><%= animal.sexo %></td>
        <td><%= animal.pelagem %></td>
        <td><%= animal.data_nascimento %></td>
        <td>
            <%= link_to raw('<i class="ace-icon fa fa-eye"></i>'), animal %> |
            <%= link_to raw('<i class="ace-icon fa fa-pencil"></i>'), edit_animal_path(animal) %> |
        <%= link_to raw('<i class="ace-icon fa fa-trash-o"></i>'), animal, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Animal', new_animal_path, :class => "btn btn-info" %>
