<%= form_for(tipo_venda) do |f| %>
  <% if tipo_venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_venda.errors.count, "error") %> prohibited this tipo_venda from being saved:</h2>

      <ul>
      <% tipo_venda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
