<p id="notice"><%= notice %></p>

<p>
  <strong>Venda:</strong>
  <%= @parcela.venda %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @parcela.numero %>
</p>

<p>
  <strong>Data vencimento:</strong>
  <%= @parcela.data_vencimento %>
</p>

<p>
  <strong>Data pagamento:</strong>
  <%= @parcela.data_pagamento %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @parcela.valor %>
</p>

<%= link_to 'Edit', edit_parcela_path(@parcela) %> |
<%= link_to 'Back', parcelas_path %>
