<p id="notice"><%= notice %></p>

<div class="page-header">
    <h1>Vendas
</div>


<table class="table  table-bordered table-hover">
  <thead>
    <tr>
      <th>Tipo venda</th>
      <th>Cliente</th>
      <th>Animal</th>
      <th>Valor</th>
      <th>N parcelas</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.tipo_venda.tipo %></td>
        <td><%= venda.cliente.nome %></td>
        <td><%= venda.animal.nome %></td>
        <td><%= venda.valor %></td>
        <td><%= venda.n_parcelas %></td>
        <td><%= link_to raw('<i class="ace-icon fa fa-eye"></i>'), venda %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Venda', new_venda_path, :class => "btn btn-info" %>
