<p id="notice"><%= notice %></p>

<h1>Vendas</h1>

<table class="table  table-bordered table-hover">
  <thead>
    <tr>
      <th>Tipo venda</th>
      <th>Cliente</th>
      <th>Animal</th>
      <th>Valor</th>
      <th>N parcelas</th>
      <th>Primeiro Vencimento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= venda.tipo_venda.tipo %></td>
        <td><%= venda.cliente.nome %></td>
        <td><%= venda.animal.nome %></td>
        <td><%= venda.valor %></td>
        <td><%= venda.n_parcelas %></td>
        <td><%= venda.data_primeiro_vencimento %></td>
        <td><%= link_to 'Show', venda %></td>
        <td><%= link_to 'Edit', edit_venda_path(venda) %></td>
        <td><%= link_to 'Destroy', venda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venda', new_venda_path %>
