<p id="notice"><%= notice %></p>

<div class="page-header">
    <h1>Vendas
</div>


<table class="table  table-bordered table-hover">
  <thead>
    <tr>
      <th>Venda</th>
      <th>Cliente</th>
      <th>Valor (R$)</th>
      <th>N parcelas</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @vendas.each do |venda| %>
      <tr>

        <td><%= venda.animal.nome %> <small>( <%= venda.tipo_venda.tipo %> )</small></td>
        <td><%= venda.cliente.nome %></td>
        <td align="right"><%= venda.valor.to_i %></td>
        <td><%= venda.n_parcelas %></td>
        <td><%= link_to raw('<i class="ace-icon fa fa-eye"></i>'), venda %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Venda', new_venda_path, :class => "btn btn-info" %>
