<p id="notice"><%= notice %></p>

<h1>Venda</h1>

<p>
  <strong>Tipo venda:</strong>
  <%= @venda.tipo_venda.tipo %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @venda.cliente.nome %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @venda.animal.nome %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @venda.valor %>
</p>

<p>
  <strong>N parcelas:</strong>
  <%= @venda.n_parcelas %>
</p>

<p>
  <strong>Dia Vencimento:</strong>
  <%= @venda.data_primeiro_vencimento %>
</p>



<h2>Parcelas</h2>
<table class="table  table-bordered table-hover">
<thead>
  <tr>
    <th>Numero</th>
    <th>Data vencimento</th>
    <th>Valor</th>
    <th>Data Pagamento</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% for parcela in @venda.parcelas do %>
    <tr>
      <td><%= parcela.numero %></td>
      <td><%= parcela.data_vencimento %></td>
      <td><%= parcela.valor %></td>
      <td><%= parcela.data_pagamento ? parcela.data_pagamento : 'Em aberto' %>
      <td><%= link_to('Informar Pagamento', edit_parcela_path(parcela)) if parcela.data_pagamento.nil? %></td>
    </tr>
  <% end %>
</tbody>
</table>


<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
